flujoUiClaveHealth.json
[{"id":"156c5cc9.6dcff3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"235745ce.3288fa","type":"mqtt out","z":"156c5cc9.6dcff3","name":"","topic":"claves.conjunto1.1-101","qos":"","retain":"","broker":"a83015d.ae262e8","x":610,"y":1080,"wires":[]},{"id":"33ff2a0b.f5f246","type":"inject","z":"156c5cc9.6dcff3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":80,"wires":[["289a3a65.064da6"]]},{"id":"289a3a65.064da6","type":"mqtt out","z":"156c5cc9.6dcff3","name":"","topic":"alarma.conjunto1.baja.1-101.pre","qos":"","retain":"","broker":"a83015d.ae262e8","x":470,"y":80,"wires":[]},{"id":"1686fccc.79cef3","type":"mqtt out","z":"156c5cc9.6dcff3","name":"","topic":"claves.conjunto1.1-101","qos":"","retain":"","broker":"a83015d.ae262e8","x":490,"y":160,"wires":[]},{"id":"b6715c82.a312a","type":"mqtt out","z":"156c5cc9.6dcff3","name":"","topic":"alarma.conjunto1.alta.1-101.pre","qos":"","retain":"","broker":"a83015d.ae262e8","x":470,"y":40,"wires":[]},{"id":"da7df41c.c98368","type":"mqtt out","z":"156c5cc9.6dcff3","name":"","topic":"healthcheck.conjunto1.1-101","qos":"","retain":"","broker":"a83015d.ae262e8","x":480,"y":120,"wires":[]},{"id":"53ba044d.46166c","type":"inject","z":"156c5cc9.6dcff3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[["da7df41c.c98368"]]},{"id":"6badfa92.43bd34","type":"inject","z":"156c5cc9.6dcff3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":160,"wires":[["1686fccc.79cef3"]]},{"id":"109aa2ed.c8488d","type":"inject","z":"156c5cc9.6dcff3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":40,"wires":[["b6715c82.a312a"]]},{"id":"95614586.7cf1a8","type":"mqtt in","z":"156c5cc9.6dcff3","name":"","topic":"alarma.conjunto1.alta.1-101.pre","qos":"2","broker":"3870aa56.895d06","x":270,"y":220,"wires":[["b55cd4fd.3ac7f8"]]},{"id":"e9f87a8c.534b68","type":"mqtt in","z":"156c5cc9.6dcff3","name":"","topic":"alarma.conjunto1.baja.1-101.pre","qos":"2","broker":"3870aa56.895d06","x":270,"y":260,"wires":[["de866073.329d3"]]},{"id":"6c499f79.20e18","type":"mqtt in","z":"156c5cc9.6dcff3","name":"","topic":"healthcheck.conjunto1.1-101","qos":"2","broker":"3870aa56.895d06","x":260,"y":300,"wires":[["dedd4944.ad1258"]]},{"id":"10c35139.9fc92f","type":"mqtt in","z":"156c5cc9.6dcff3","name":"","topic":"claves.conjunto1.1-101","qos":"2","broker":"3870aa56.895d06","x":240,"y":340,"wires":[["121f89d5.620426"]]},{"id":"b55cd4fd.3ac7f8","type":"debug","z":"156c5cc9.6dcff3","name":"ALTA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":220,"wires":[]},{"id":"de866073.329d3","type":"debug","z":"156c5cc9.6dcff3","name":"BAJA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":260,"wires":[]},{"id":"dedd4944.ad1258","type":"debug","z":"156c5cc9.6dcff3","name":"HEALTH","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":300,"wires":[]},{"id":"121f89d5.620426","type":"debug","z":"156c5cc9.6dcff3","name":"CLAVES","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":340,"wires":[]},{"id":"b07edb21.d471a8","type":"ui_button","z":"156c5cc9.6dcff3","name":"","group":"361b3bb5.39cbf4","order":0,"width":0,"height":0,"passthru":true,"label":"Crear","color":"","bgcolor":"","icon":"","payload":"CREATE:","payloadType":"str","topic":"","x":130,"y":920,"wires":[["e698b951.f6b778"]]},{"id":"2052ddb0.c4b6c2","type":"function","z":"156c5cc9.6dcff3","name":"","func":"global.set(\"claveActual\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1160,"wires":[[]]},{"id":"fe8541ed.1344e","type":"ui_text_input","z":"156c5cc9.6dcff3","name":"","label":"Clave","group":"361b3bb5.39cbf4","order":0,"width":0,"height":0,"passthru":false,"mode":"tel","delay":300,"topic":"","x":110,"y":1160,"wires":[["2052ddb0.c4b6c2"]]},{"id":"a5844f7b.dc0d3","type":"ui_button","z":"156c5cc9.6dcff3","name":"","group":"361b3bb5.39cbf4","order":0,"width":0,"height":0,"passthru":true,"label":"Modificar","color":"","bgcolor":"","icon":"","payload":"UPDATE:","payloadType":"str","topic":"","x":140,"y":960,"wires":[["9eb62312.fd827"]]},{"id":"db2370d3.e53ea","type":"ui_button","z":"156c5cc9.6dcff3","name":"","group":"361b3bb5.39cbf4","order":0,"width":0,"height":0,"passthru":true,"label":"Borrar","color":"","bgcolor":"","icon":"","payload":"DELETE:","payloadType":"str","topic":"","x":130,"y":1000,"wires":[["3453e7f6.d6c408"]]},{"id":"83e5b39f.b63ea","type":"ui_button","z":"156c5cc9.6dcff3","name":"","group":"361b3bb5.39cbf4","order":0,"width":0,"height":0,"passthru":true,"label":"Borrar Todas","color":"","bgcolor":"","icon":"","payload":"DELETEALL","payloadType":"str","topic":"","x":150,"y":1040,"wires":[["235745ce.3288fa"]]},{"id":"4f0deef9.29deb","type":"ui_text_input","z":"156c5cc9.6dcff3","name":"","label":"# Clave","group":"361b3bb5.39cbf4","order":0,"width":0,"height":0,"passthru":false,"mode":"tel","delay":300,"topic":"","x":120,"y":1280,"wires":[["61d35bd8.e80f74"]]},{"id":"61d35bd8.e80f74","type":"function","z":"156c5cc9.6dcff3","name":"","func":"global.set(\"numClave\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1280,"wires":[[]]},{"id":"e698b951.f6b778","type":"function","z":"156c5cc9.6dcff3","name":"","func":"msg.payload+=global.get(\"claveActual\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":920,"wires":[["696eaab7.e76d94","235745ce.3288fa"]]},{"id":"696eaab7.e76d94","type":"debug","z":"156c5cc9.6dcff3","name":"Create","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":920,"wires":[]},{"id":"3453e7f6.d6c408","type":"function","z":"156c5cc9.6dcff3","name":"","func":"msg.payload+=global.get(\"numClave\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1000,"wires":[["6b186304.544acc","235745ce.3288fa"]]},{"id":"6b186304.544acc","type":"debug","z":"156c5cc9.6dcff3","name":"Delete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":1000,"wires":[]},{"id":"9eb62312.fd827","type":"function","z":"156c5cc9.6dcff3","name":"","func":"msg.payload+=global.get(\"claveActual\");\nmsg.payload+=\":\";\nmsg.payload+=global.get(\"numClave\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":960,"wires":[["bee22ada.a60548","235745ce.3288fa"]]},{"id":"bee22ada.a60548","type":"debug","z":"156c5cc9.6dcff3","name":"Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":960,"wires":[]},{"id":"737bb6e3.546d08","type":"inject","z":"156c5cc9.6dcff3","name":"","topic":"","payload":"{ \"contraAnterior\": \"1\", \t\"asunto\": \"UPDATE\", \t\"conjunto\": \"conjunto1\", \t\"apto\": \"torreA-101\", \t\"nuevaContra\": \"1235\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":640,"wires":[[]]},{"id":"9cbd650b.9658c8","type":"inject","z":"156c5cc9.6dcff3","name":"DELETEALL","topic":"","payload":"DELETEALL","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":840,"wires":[[]]},{"id":"500db4cd.e50a1c","type":"inject","z":"156c5cc9.6dcff3","name":"CREATE","topic":"","payload":"CREATE:1234","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":720,"wires":[[]]},{"id":"dadff3d9.7d74","type":"inject","z":"156c5cc9.6dcff3","name":"DELETE","topic":"","payload":"DELETE:1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":760,"wires":[[]]},{"id":"a8492a3c.090298","type":"inject","z":"156c5cc9.6dcff3","name":"UPDATE","topic":"","payload":"UPDATE:1235:1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":800,"wires":[[]]},{"id":"a83015d.ae262e8","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.7","port":"1883","tls":"68017d23.2fb5e4","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3870aa56.895d06","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.7","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"361b3bb5.39cbf4","type":"ui_group","z":"","name":"Nivel de Nicotina","tab":"bd96a5e1.7e17a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"68017d23.2fb5e4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"m2mqtt_ca.crt","verifyservercert":false},{"id":"bd96a5e1.7e17a8","type":"ui_tab","z":"","name":"Graficas","icon":"dashboard"}]