flujo de formato.txt
[{"id":"a6225a6a.14c488","type":"inject","z":"9fba142c.931128","name":"","topic":"","payload":"{\"correo\":\"correPrueba@gmail.com\",\"asunto\":\"alarma tipo 1\",\"cuerpo\":\"hay alquien al frente de tu casa\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[[]]},{"id":"df21b799.5b9488","type":"mqtt out","z":"9fba142c.931128","name":"","topic":"alarma.conjunto1.alta.1-101.pre","qos":"","retain":"","broker":"234a1d87.553bf2","x":470,"y":140,"wires":[]},{"id":"46eaf87b.cacab8","type":"mqtt out","z":"9fba142c.931128","name":"","topic":"alarma.conjunto1.alta.1-101","qos":"","retain":"","broker":"234a1d87.553bf2","x":720,"y":180,"wires":[]},{"id":"e346bbc5.e36ee8","type":"mqtt in","z":"9fba142c.931128","name":"","topic":"alarma.conjunto1.alta.1-101.pre","qos":"2","broker":"234a1d87.553bf2","x":230,"y":180,"wires":[["c0c28423.734068"]]},{"id":"c0c28423.734068","type":"function","z":"9fba142c.931128","name":"format","func":"var res = {};\n\ntipo = msg.payload;\n\nres.payload = {};\nres.topic = msg.topic;\n\nres.payload ={\"correo\":\"correPrueba@gmail.com\",\"asunto\":\"alarma tipo \"+tipo,\"cuerpo\":tipo}\n\nreturn res;\n\n","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["46eaf87b.cacab8"]]},{"id":"b4c0ad5b.ba161","type":"inject","z":"9fba142c.931128","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["df21b799.5b9488"]]},{"id":"c5be8a19.b76338","type":"mqtt out","z":"9fba142c.931128","name":"","topic":"alarma.conjunto1.baja.1-101.pre","qos":"","retain":"","broker":"234a1d87.553bf2","x":470,"y":320,"wires":[]},{"id":"3632b784.dc8208","type":"inject","z":"9fba142c.931128","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["c5be8a19.b76338"]]},{"id":"2150fe92.d14bb2","type":"mqtt out","z":"9fba142c.931128","name":"","topic":"alarma.conjunto1.baja.1-101","qos":"","retain":"","broker":"234a1d87.553bf2","x":700,"y":380,"wires":[]},{"id":"d152807c.f5175","type":"mqtt in","z":"9fba142c.931128","name":"","topic":"alarma.conjunto1.baja.1-101.pre","qos":"2","broker":"234a1d87.553bf2","x":210,"y":380,"wires":[["b3fd4836.321508"]]},{"id":"b3fd4836.321508","type":"function","z":"9fba142c.931128","name":"format","func":"var res = {};\n\ntipo = msg.payload;\n\nres.payload = {};\nres.topic = msg.topic;\n\nres.payload ={\"correo\":\"correPrueba@gmail.com\",\"asunto\":\"alarma tipo \"+tipo,\"cuerpo\":tipo}\n\nreturn res;\n\n","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["2150fe92.d14bb2"]]},{"id":"234a1d87.553bf2","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.103","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]