Flujo.json
[{"id":"10f54e37.fa68e2","type":"tab","label":"Flijo de informacion","disabled":false,"info":""},{"id":"589dca27.984804","type":"serial in","z":"10f54e37.fa68e2","name":"recepción de alerta","serial":"a9874c6b.79816","x":180,"y":140,"wires":[["8c119f09.65616","5f31f55c.05e00c"]]},{"id":"5f31f55c.05e00c","type":"function","z":"10f54e37.fa68e2","name":"FormatoAlerta","func":"var res = {};\nvar num;\n\nalertaString = msg.payload;\nnum=alertaString.charAt(0);\nres.topic = \"roomAlerta\";\nres.type = num;\nres.time=new Date();\n\nreturn res;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["450f7fea.3d956","630f6eec.2d77e"]]},{"id":"8c119f09.65616","type":"debug","z":"10f54e37.fa68e2","name":"beforeFormatAlerta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":100,"wires":[]},{"id":"450f7fea.3d956","type":"debug","z":"10f54e37.fa68e2","name":"afterFormatAlerta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":140,"wires":[]},{"id":"f1c590a6.c63e6","type":"mqtt out","z":"10f54e37.fa68e2","name":"","topic":"baja/Conjunto1/1/A101","qos":"0","retain":"false","broker":"2f21eaab.e6e6a6","x":1200,"y":320,"wires":[]},{"id":"630f6eec.2d77e","type":"switch","z":"10f54e37.fa68e2","name":"TipoAlerta","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":840,"y":320,"wires":[["4a07d3c4.48a75c","f1c590a6.c63e6"],["653a42c9.80a18c","42695e43.063bf"],["4a07d3c4.48a75c","f1c590a6.c63e6"]]},{"id":"4a07d3c4.48a75c","type":"debug","z":"10f54e37.fa68e2","name":"alertas bajas","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":260,"wires":[]},{"id":"42695e43.063bf","type":"debug","z":"10f54e37.fa68e2","name":"alertas altas","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":80,"wires":[]},{"id":"35bd218.cdc61de","type":"debug","z":"10f54e37.fa68e2","name":"historial","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":480,"wires":[]},{"id":"653a42c9.80a18c","type":"mqtt out","z":"10f54e37.fa68e2","name":"","topic":"alta/Conjunto1/1/A101","qos":"1","retain":"false","broker":"2f21eaab.e6e6a6","x":1140,"y":140,"wires":[]},{"id":"efdd3525.721a48","type":"mqtt out","z":"10f54e37.fa68e2","name":"","topic":"historial/Conjunto1/1/A101","qos":"1","retain":"false","broker":"2f21eaab.e6e6a6","x":1160,"y":520,"wires":[]},{"id":"a9874c6b.79816","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"2f21eaab.e6e6a6","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.79","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]