Flujo.json
[
    {
        "id": "c9d377bb.f79338",
        "type": "tab",
        "label": "TomaDeDatos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7228bfab.7fb5",
        "type": "serial in",
        "z": "c9d377bb.f79338",
        "name": "recepción de alerta",
        "serial": "c91d60c5.1e202",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "e73c0c98.06e1e",
                "e135a5c0.c08968"
            ]
        ]
    },
    {
        "id": "e135a5c0.c08968",
        "type": "function",
        "z": "c9d377bb.f79338",
        "name": "FormatoAlerta",
        "func": "var res = {};\nvar num;\n\nalertaString = msg.payload;\nnum=alertaString.charAt(0);\nres.topic = \"roomAlerta\";\nres.type = num;\nres.time=new Date();\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "7c663cc4.781a14",
                "2735e801.f19338"
            ]
        ]
    },
    {
        "id": "e73c0c98.06e1e",
        "type": "debug",
        "z": "c9d377bb.f79338",
        "name": "beforeFormatAlerta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "7c663cc4.781a14",
        "type": "debug",
        "z": "c9d377bb.f79338",
        "name": "afterFormatAlerta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "88baa88f.fdd5b8",
        "type": "mqtt out",
        "z": "c9d377bb.f79338",
        "name": "",
        "topic": "baja/Conjunto1/1/A101",
        "qos": "0",
        "retain": "false",
        "broker": "1e60466e.462a0a",
        "x": 1140,
        "y": 340,
        "wires": []
    },
    {
        "id": "2735e801.f19338",
        "type": "switch",
        "z": "c9d377bb.f79338",
        "name": "TipoAlerta",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "a3f32ffe.7eee4",
                "88baa88f.fdd5b8"
            ],
            [
                "670193c3.95993c",
                "15966f51.f0b641"
            ],
            [
                "a3f32ffe.7eee4",
                "88baa88f.fdd5b8"
            ]
        ]
    },
    {
        "id": "a3f32ffe.7eee4",
        "type": "debug",
        "z": "c9d377bb.f79338",
        "name": "alertas bajas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "15966f51.f0b641",
        "type": "debug",
        "z": "c9d377bb.f79338",
        "name": "alertas altas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1130,
        "y": 80,
        "wires": []
    },
    {
        "id": "96b62b79.035ce8",
        "type": "debug",
        "z": "c9d377bb.f79338",
        "name": "historial",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "670193c3.95993c",
        "type": "mqtt out",
        "z": "c9d377bb.f79338",
        "name": "",
        "topic": "alta/Conjunto1/1/A101",
        "qos": "1",
        "retain": "false",
        "broker": "1e60466e.462a0a",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "f6024bd6.b73cb8",
        "type": "mqtt out",
        "z": "c9d377bb.f79338",
        "name": "",
        "topic": "historial/Conjunto1/1/A101",
        "qos": "1",
        "retain": "false",
        "broker": "1e60466e.462a0a",
        "x": 1160,
        "y": 480,
        "wires": []
    },
    {
        "id": "c91d60c5.1e202",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "1e60466e.462a0a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.79",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
