processing.josn.txt
[
    {
        "id": "d1d44114.6e7a7",
        "type": "tab",
        "label": "Procesamiento Alerta",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8503a58.67a908",
        "type": "udp in",
        "z": "d1d44114.6e7a7",
        "name": "Recibir alerta",
        "iface": "",
        "port": "6000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "adb21047.f8c9c",
                "7505b821.8dab68"
            ]
        ]
    },
    {
        "id": "bfb2186d.85fff8",
        "type": "mqtt out",
        "z": "d1d44114.6e7a7",
        "name": "",
        "topic": "baja/Conjunto1/1/A101",
        "qos": "0",
        "retain": "false",
        "broker": "dfabe031.466d2",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "adb21047.f8c9c",
        "type": "switch",
        "z": "d1d44114.6e7a7",
        "name": "TipoAlerta",
        "property": "alert",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "bfb2186d.85fff8",
                "d6d23d6e.c5de8"
            ],
            [
                "38993eeb.630c52",
                "f1c29a14.a0ff28"
            ],
            [
                "3e286026.c2c69",
                "77617078.de508"
            ],
            [
                "bfb2186d.85fff8",
                "d6d23d6e.c5de8"
            ]
        ]
    },
    {
        "id": "d6d23d6e.c5de8",
        "type": "debug",
        "z": "d1d44114.6e7a7",
        "name": "alertas bajas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "38993eeb.630c52",
        "type": "debug",
        "z": "d1d44114.6e7a7",
        "name": "alertas altas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "3e286026.c2c69",
        "type": "debug",
        "z": "d1d44114.6e7a7",
        "name": "historial",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "f1c29a14.a0ff28",
        "type": "mqtt out",
        "z": "d1d44114.6e7a7",
        "name": "",
        "topic": "alta/Conjunto1/1/A101",
        "qos": "1",
        "retain": "false",
        "broker": "dfabe031.466d2",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "77617078.de508",
        "type": "mqtt out",
        "z": "d1d44114.6e7a7",
        "name": "",
        "topic": "historial/Conjunto1/1/A101",
        "qos": "1",
        "retain": "false",
        "broker": "dfabe031.466d2",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "7505b821.8dab68",
        "type": "debug",
        "z": "d1d44114.6e7a7",
        "name": "RecepcionAlerta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 340,
        "y": 360,
        "wires": []
    },
    {
        "id": "dfabe031.466d2",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.24.42.79",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]