telemetry.json.txt
[{"id":"c22076b.b241f88","type":"tab","label":"TomaDeDatos","disabled":false,"info":""},{"id":"790ba29b.fb574c","type":"serial in","z":"c22076b.b241f88","name":"recepción de alerta","serial":"3c367d65.41e152","x":180,"y":140,"wires":[["3506d284.f6005e","8b9a0007.38e23"]]},{"id":"7e5c863.fbd5278","type":"inject","z":"c22076b.b241f88","name":"tiempo","topic":"roomTiempo","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":180,"y":300,"wires":[["f29e2f12.379f4","903b7e7c.05f05"]]},{"id":"3506d284.f6005e","type":"function","z":"c22076b.b241f88","name":"FormatoAlerta","func":"var res = {};\nvar alertaArray = [];\nvar descripcionAlerta = \"\";\n\nalertaString = msg.payload;\nalertaArray = alertaString.split(\",\");\ndescripcionAlerta = alertaArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomAlerta\";\nres.payload = {};\n\nres.payload = {\"alerta\": parseInt(alertaArray[0]), \"desc\": descripcionAlerta}\n\nreturn res;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["2bf3292.dfd76d6","26e318bf.b195d8"]]},{"id":"8b9a0007.38e23","type":"debug","z":"c22076b.b241f88","name":"beforeFormatAlerta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":100,"wires":[]},{"id":"f29e2f12.379f4","type":"debug","z":"c22076b.b241f88","name":"beforeFormatTiempo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":400,"wires":[]},{"id":"903b7e7c.05f05","type":"function","z":"c22076b.b241f88","name":"formatoTiempo","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["390b61bc.fe988e","26e318bf.b195d8"]]},{"id":"2bf3292.dfd76d6","type":"debug","z":"c22076b.b241f88","name":"afterFormatAlerta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":140,"wires":[]},{"id":"390b61bc.fe988e","type":"debug","z":"c22076b.b241f88","name":"afterFormatTiempo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":400,"wires":[]},{"id":"26e318bf.b195d8","type":"function","z":"c22076b.b241f88","name":"MergeAlertaTiempo","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTiempo\":\n        context.data.alerttime = msg.payload;\n        msg = null;\n        break;\n    case \"roomAlerta\":\n        context.data.alert = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.alerttime != null && context.data.alert != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomAlertaF\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":720,"y":280,"wires":[[]]},{"id":"3c367d65.41e152","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]